<% content_for :scripts do %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
<% end %>

<div class='columns' style="margin-top: -25px;">
  <div class='column is-9'>
    <span class="subtitle is-2">My Boards</span>
    <a class='button new_board_button' href= <%= new_board_path%>>
      <%= image_tag 'icon-plus.svg', class: 'inline-icon'%>
      Create new board
    </a>
      <%= react_component('boards-container', {role: 'creator'})%>
    <% if @boards_by_date.length > 3%>
      <div class='load-more-boards-container'>
        <%= image_tag 'chevron-down.svg', class: 'load-more-boards-button'%>
      </div>
    <% end %>
  </div>
</div>

