<!DOCTYPE html>
<html>
  <head>
    <title>Retrospective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' if user_signed_in? %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('https://use.fontawesome.com/releases/v5.3.1/js/all.js') %>
    <%= yield :scripts %>
  </head>

  <body>
  <div class="columns">
    <div class="column is-9">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <% if user_signed_in? %>
      <p> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
        <div id='root'></div>
      <% else %>
        <% if ENV.fetch('SKIP_ALFRED', false) == 'true' %>
          <%= link_to 'Sign in as Developer', user_developer_omniauth_callback_path %>
          <%= '|' if providers.any? %>
        <% end %>

        <% providers.each do |provider| %>
          <%= link_to "Sign in with #{provider.capitalize}", send("user_#{provider}_omniauth_authorize_path") %>
          <%= '|' unless provider == providers.last %>
        <% end %>
      <% end %>
    </div>
  </div>
  </body>
</html>


