<!DOCTYPE html>
<html>
  <head>
    <title>Retrospective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= javascript_pack_tag 'application' if user_signed_in? %>
    <%= stylesheet_pack_tag 'application' if user_signed_in? %>
    <%= javascript_include_tag('https://use.fontawesome.com/releases/v5.3.1/js/all.js') %>
    <%= yield :scripts %>
  </head>

  <body>
      <p id="notice" class="alert"><%= notice %></p>
      <p id="alert" class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <p class="logout-button"><%= link_to 'Logout', destroy_user_session_path, method: :delete, id: "logoutBtn"%></p>
        <div id='root'></div>
      <% else %>
        <div class="wrapper">
          <div class="inner">
            <% providers.each do |provider| %>
              <%= link_to "Sign in with #{provider.capitalize}", send("user_#{provider}_omniauth_authorize_path") %>
            <% end %>
            <% if ENV.fetch('SKIP_ALFRED', false) == 'true' %>
              <%= link_to 'Sign in as Developer', user_developer_omniauth_callback_path %>
            <% end %>
          </div>
        </div>
      <% end %>
  </body>
</html>


